/*
 * d3iida.japan.css
 */

.mapLayer {
  fill               : none;
  overflow           : hidden;
  pointer-events     : auto;
}

.siteLayer {
  fill               : none;
  overflow           : hidden;
  pointer-events     : auto;
}

.brushLayer {
  fill               : none;
  overflow           : hidden;
  pointer-events     : all;
}

.sitesname {
  font               : 8pt 'Trebuchet MS', Verdana, Helvetica, Arial, Meiryo, sans-serif;
  color              : #444;
  background-color   : #888;
}

.sites {
  fill               : steelblue;
  fill-opacity       : 0.8;
  stroke             : #fff;
  stroke-width       : 0.8px;
}
  .sites:hover {
    stroke-width     : 1.2px;
  }

.prefecture {
  stroke          : #fff;
  stroke-width    : 1.0px;
  stroke-linejoin : round;
  stroke-linecap  : round;
  cursor          : pointer; /* change cursor to enable click */
  pointer-events  : all;
}
  .prefecture.active {
    fill          : #dcc;
  }
  .prefecture:hover {
    fill          : #dcd;
  }

.Hokkaido {
  fill : #ddd;
}

.Hiroshima {
  fill : #ddd;
}

.Okayama {
  fill : #ddd;
}

.Shimane {
  fill : #ddd;
}

.Tottori {
  fill : #ddd;
}

.Yamaguchi {
  fill : #ddd;
}

.Saga {
  fill : #ddd;
}

.Fukuoka {
  fill : #ddd;
}

.Kumamoto {
  fill : #ddd;
}

.Miyazaki {
  fill : #ddd;
}

.Ehime {
  fill : #ddd;
}

.Kagawa {
  fill : #ddd;
}

.Kochi {
  fill : #ddd;
}

.Oita {
  fill : #ddd;
}

.Tokushima {
  fill : #ddd;
}

.Aichi {
  fill : #ddd;
}

.Gifu {
  fill : #ddd;
}

.Ishikawa {
  fill : #ddd;
}

.Mie {
  fill : #ddd;
}

.Nagano {
  fill : #ddd;
}

.Shizuoka {
  fill : #ddd;
}

.Toyama {
  fill : #ddd;
}

.Fukui {
  fill : #ddd;
}

.Hyōgo {
  fill : #ddd;
}

.Hyogo {
  fill : #ddd;
}

.Kyoto {
  fill : #ddd;
}

.Nara {
  fill : #ddd;
}

.Osaka {
  fill : #ddd;
}

.Shiga {
  fill : #ddd;
}

.Wakayama {
  fill : #ddd;
}

.Chiba {
  fill : #ddd;
}

.Ibaraki {
  fill : #ddd;
}

.Kanagawa {
  fill : #ddd;
}

.Saitama {
  fill : #ddd;
}

.Tochigi {
  fill : #ddd;
}

.Tokyo {
  fill : #ddd;
}

.Yamanashi {
  fill : #ddd;
}

.Akita {
  fill : #ddd;
}

.Aomori {
  fill : #ddd;
}

.Fukushima {
  fill : #ddd;
}

.Iwate {
  fill : #ddd;
}

.Miyagi {
  fill : #ddd;
}

.Niigata {
  fill : #ddd;
}

.Yamagata {
  fill : #ddd;
}

.Nagasaki {
  fill : #ddd;
}

.Kagoshima {
  fill : #ddd;
}

.Okinawa {
  fill : #ddd;
}

.Gunma {
  fill : #ddd;
}
